<!--<div style = "background-color: pink; color: black; display: flex;align-items: center;justify-content:center;">
    <h1>Hello Admin!!</h1> <br />
    <h1>You are using Task Tracking Application!!!</h1>
</div>
<div style = "background-color: darksalmon; color :black; text-align: center;">
    
        <a style = "font-size: larger;" [routerLink] = "['/GetTaskByID']">GetTaskByID</a> <br />
        <a style = "font-size: larger;" [routerLink] = "['/GetAllTasks']">GetAllTasks</a> <br />
        <a style = "font-size: larger;" [routerLink] = "['/AddTask']">AddTask</a> <br />
        <a style = "font-size: larger;" [routerLink] = "['/UpdateBookmark']">UpdateBookmark</a> <br />
        <a style = "font-size: larger;" [routerLink] = "['/UpdateNotes']">UpdateNotes</a> <br />
        <a style = "font-size: larger;" [routerLink] = "['/UpdatePriority']">UpdatePriority</a> <br />
        <a style = "font-size: larger;" [routerLink] = "['/DeleteTask']">DeleteTask</a> <br />
        <a style = "font-size: larger;" [routerLink] = "['/Users']">Users</a> <br />
        <a style = "font-size: larger;" [routerLink] = "['/AssignTask']">AssignTask</a> <br />-->
        
<!--<app-get-status></app-get-status>-->
<router-outlet></router-outlet>




