<div style = "background-color:pink; color :black; text-align: center;">
<p>Get Task</p>
<form [formGroup]="form6" (ngSubmit)="onSubmit(form6.value)">
    task_ID :
    <input type="number" name="task_ID" formControlName="task_ID"/>
    <br/>
    <br/>

    <button type = "button" class= "btn btn-success"(click)="onSubmit(form6.value)">GetTask</button>    
</form>

<h2>Task details</h2>
 <div *ngFor = "let task1 of tasks">
    Task_ID : {{task1.task_ID}} <br /> 
    Owner_ID : {{task1.owner_ID}} <br />
    Creator_ID : {{task1.creator_ID}} <br />
    Name : {{task1.name}} <br />
    Description : {{task1.description}} <br />
    Status : {{task1.status}} <br />
    Priority : {{task1.priority}} <br />
    Notes : {{task1.notes}} <br />
    IsBookmarked : {{task1.isBookmarked}} <br />
    Created_On : {{task1.created_On}} <br />
    Status_Changed_On : {{task1.status_Changed_On}} <br /> <br />
</div>
</div>
