<div style = "background-color:pink; color :black; text-align: center;">
<h2>User details</h2>
 <div *ngFor = "let user of Users">
    User_ID : {{user.user_Id}} <br /> 
    Password : {{user.password}} <br />
    Username : {{user.username}} <br />
    Email : {{user.email}} <br />
    First_Name : {{user.first_Name}} <br />
    Last_Name : {{user.last_Name}} <br />
    Contact_Number : {{user.contact_Number}} <br />
    Role : {{user.role}} <br />
    IsActive : {{user.isactive}} <br />
    Dob : {{user.dob}} <br />
    Created_On : {{user.created_on}} <br /> <br />
</div>
</div>
